html {
  font-family: 'Nunito', sans-serif;
}

h1 {
  color: darkorange;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: nowrap;
}

@media(min-width: 1000px) {
  h1 {
    color: darkorange;
    font-size: x-large; 
  }
}

.first-div {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}

h2 {
  font-size: xx-large
}

button {     
  margin-top: 10px;    
  border-radius: 0 15px 15px 15px;     
  padding: 12px;     
  background-color: orange;     
  font-weight: bolder;    
  font-size: 15px;     
  color: white;     
  border: none;     
  align-self: flex-end;   
}

section {
  height: 600px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div > img {
 width: 100%;
}
