html {
  font-family: 'Nunito', sans-serif;
}

h1 {
  color: darkorange;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: nowrap;
}

@media(min-width: 1000px) {
  h1 {
    color: darkorange;
    font-size: x-large; 
  }
}

h2 {
  font-size: xx-large
}

